<section class="fdb-block bg-lightblue" data-block-type="features" data-id="10">
  <div class="container">

<!--
    <div class="row text-center">
      <div class="col-12">
        <h1>Features</h1>
      </div>
    </div>
-->

    <div class="row text-center justify-content-center mt-5">
      <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
        </span>
        <h3><strong>Past</strong><br>Reflect on the past</h3>
        <ul class="text-left sans">
          <li>Analyze a team's activity</li>
          <li>Identify active projects </li>
          <li>Determine portfolio rates</li>
        </ul>
      </div>

      <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
        </span>
        <h3><strong>Present</strong><br/>Understand the present</h3>
        <ul class="text-left sans">
          <li>Manage contract expenses</li>
          <li>Reconcile timesheets to GL</li>
          <li>Update prioritized plans</li>
        </ul>
      </div>

      <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
        </span>
        <h3><strong>Future</strong><br/>Plan for the future</h3>
        <ul class="text-left sans">
          <li>Forecast resource costs</li>
          <li>Track department budgets</li>
          <li>Act on data-driven insights</li>
        </ul>
      </div>
    </div>
  </div>
</section>
