<footer class="fdb-block footer-small fp-active" data-block-type="footers" data-id="15">
  <div class="container">
    <div class="row text-center align-items-center sans">
      <div class="col-12 col-md-8">
        <ul class="nav justify-content-center justify-content-md-start align-items-center">
          <li class="nav-item">
            <a class="nav-link active" href="/">
                {{ site.name }}
              </a>
          </li>
          <li class="w-100 d-block d-sm-none"></li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mt-4 mt-md-0 text-md-right">
        {{ site.copyright }}
      </div>
    </div>
  </div>
</footer>
