<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="froala_blocks.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Domine:400,700|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="local.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <title>{{ page.product}} - {{ page.title_tag }}</title>
</head>
<body>
