<section class="fdb-block block-top" data-block-type="contents" data-id="8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center col-lg-8">
        <h1>{{ page.jumbo_head }}</h1>
        <h2 class="sans">GriffinPlan helps you manage, analyze, and forecast your team in one place.</h2>
        <p class="text-h3 sans"><a href="#signup">Learn More &gt;</a></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col text-center col-lg-12">
        <img alt="GriffinPlan People Dashboard" class="img-fluid mt-5" src="img/griffinplan-people-dashboard.png">
      </div>
    </div>
  </div>
</section>
