<section class="fdb-block block-top" data-block-type="contents" data-id="8">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>{{ page.jumbo_head }}</h1>
        <h2 class="sans">GriffinPlan helps you effortlessly <br/>manage, analyze, and forecast your team in one place.</h2>
        <p class="text-h3 sans"><a href="#signup">Learn More &gt;</a></p>
        <img alt="image" class="img-fluid mt-5" src="img/griffinplan-people-dashboard.png">
      </div>
    </div>
  </div>
</section>
