<section class="fdb-block block-top" data-block-type="testimonials" data-id="6">
  <div class="container">
  	<div class="row align-items-center justify-content-center">
  		<div class="col col-12 col-md-8">

        <!-- Begin fluid width widget -->
        <div class="card border-primary mb-3">
            <h3 class="card-header">Recent Posts</h3>
            {% for post in site.posts limit:3 %}
              <div class="card-body">
                <h3 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p class="card-text">{{ post.excerpt }}</p>
              </div>
            {% endfor %}
        </div>
        <!-- End fluid width widget -->

      </div>
  	</div>
  </div>
</section>
