
<section class="fdb-block fp-active" data-block-type="contents" data-id="1">
  <div class="container">
    <div class="row">
      <div class="col m-md-auto col-md-8 text-left fr-box fr-inline">

        <h1>{{ page.title }}</h1>
        <p class="post-date">{{ page.date | date_to_string }}</p>
        <div class="text-h3">
        {{ content }}
        </div>

        {% include wordcount.html %}
      </div>
    </div>
  </div>

  <section class="fdb-block fp-active bg-lightblue">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-auto">
          <h3>Interested yet? It only takes a few minutes to get started!</h3>
        </div>
        <div class="col-auto mt-4 mt-sm-0">
          <a class="btn btn-primary" href=/#signup">Get Started</a>
        </div>
      </div>
    </div>
  </section>
