<section id="signup" class="fdb-block block-top fp-active" data-block-type="forms" data-id="4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 text-center">
        <div class="row">
          <div class="col">
            <h1>Free trial!</h1>
            <p class="text-h3 sans">Join our mailing list to receive a free trial and regular updates on GriffinPlan.
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
          </div>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <form action="https://griffinplan.us20.list-manage.com/subscribe/post?u=32461232644135b334acdceea&amp;id=dffe0bf1fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
          <div class="row align-items-center sans">
            <div class="col-12 col-md-5 mt-4">
              <input type="email" placeholder="Email address" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
            </div>
            <div class="col-12 col-md-5 mt-4">
              <input type="text" placeholder="Company name" value="" name="COMPANY" class="form-control" id="mce-COMPANY">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_32461232644135b334acdceea_dffe0bf1fd" tabindex="-1" value="">
            </div>
            <div class="col-12 col-md-2 mt-4">
              <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button btn">
            </div>
          </div>
        </form>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</section>
