<section id="signup" class="fdb-block block-top fp-active" data-block-type="forms" data-id="4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8 text-center">
        <div class="row">
          <div class="col">
            <h1>Join us!</h1>
            <p class="text-h3">Join our mailing list to receive regular updates on our progress
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-md-5 mt-4">
            <input type="text" class="form-control" placeholder="Email address">
          </div>
          <div class="col-12 col-md-5 mt-4">
            <input type="text" class="form-control" placeholder="Company name">
          </div>
          <div class="col-12 col-md-2 mt-4">
            <button class="btn" type="button">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
