<section class="fdb-block" data-block-type="forms" data-id="6">
  <div class="container bg-light">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
        <h2>Join us!</h2>
        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        <div class="input-group mt-4 mb-4">
          <input type="text" class="form-control" placeholder="Enter your email address">
          <span class="input-group-btn">
              <button class="btn" type="button">Request access</button>
            </span>
        </div>
        <p class="text-h5"><em>{{ page.signup_disclaimer }}</em></p>
      </div>
    </div>
  </div>
</section>
